
.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
    min-height: 90px;
    
}
a,h1,h2,h3,h4{
    font-family: 'Jeju Gothic';
}

li{
    font-family: 'Jeju Gothic';
}