{%extends "hospital/layout.html"%}
{% load staticfiles %}
{%block content%}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>예약가능한 병원목록</h3>

                <form action="" method="get" class="form-inline">
                    <div class="form-group">
                        <select name="subject" class="form-control">
                            {%for subject in subject_list%}
                                <option value="{{subject.id}}">{{subject.subject}}</option>
                            {% endfor %}
                        </select> 
                        <input type="text" name="search_text" value="{{ search_text }}" class="form-control"/>
                        <input type="submit" value="검색" class="btn btn-primary" />
                    </div>
                </form>
                <div class="list-group contact-group">
                    <a href="#" class="list-group-item">
                        <div class="media">
                            <div class="pull-left">
                                <div class="media-body">
                                    <h4 class="media-heading">John Doe</h4>
                                    <div class="media-content">
                                        <i class="fa fa-map-marker"/>San Francisco
                                        <ul class="list-unstyled">
                                            <li>
                                                <i class="fa fa-skype"/>jode.doe
                                            </li>
                                            <li>
                                                <i class="fa fa-mobile"/>jode.doe
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
{%endblock%}