{% extends "hospital/layout.html" %}
{% load bootstrap3 %}
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block content %}
    <div class="container">
        {# 데이트타임 컨트롤  #}
        {{ form.media }}

        <h3>{{ hospital_info.name }} 예약</h3>

        <form name="reserve_form" action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {#{{ form.as_table }}#}
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
    <script>
            function getData()
            {
                var date = $("#datepicker").data("datetimepicker").getDate(),
                        formatted = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
                    console.log(formatted);
                    var doctor_id = $("select[name='doctor'] option:selected").val();

                    $.ajax({
                       type:"POST",
                       url:"{% url 'hospital:select_date' %}",
                       
                       data:{
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'hospital_id':'{{hospital_info.id}}',
                            'doctor_id':doctor_id,
                            'reserve_date':formatted,
                        },
                        dataTyle:"json",
                        success:function(response){
                            formId="reserve_form";
                            objId="time";
                            var selectControl = $("form[name='"+formId +  "'] select[name='"+objId+"']");
                            selectControl.empty(); 

                            console.log(response);
                            var jsonData = JSON.parse(JSON.parse(response).data);
                            console.log(jsonData);
                            for(var i=0;i<jsonData.length;i++)
                            {
                                //console.log(jsonData[i][0]);
                                selectControl.append("<option value="+ jsonData[i][0] +">"+jsonData[i][1]+"</option>");
                            }
                        },
                        error:function(response){
                            
                        },
                    });
            }

            $("select[name='doctor']").change(function(){
                getData();
            });
            $('#datepicker').datetimepicker({format: 'MM/DD/YYYY',defaultDate: "11/1/2018",})
                .on('changeDate', function(e) {
                    getData();
                    //나중에는 함수로 만들어서 의사, 날짜, 시간중 어떤걸 바꿔도 가능하도록 변경할것
                    //var date = e.date.getFullYear()+"-"+(e.date.getMonth()+1)+"-" + e.date.getDate();
                });
    </script>
{% endblock %}


<!--
var hospital_id=$(this).attr('name')
$.ajax({
    type:"POST",
    url:"{% url 'reserve:select_date' %}",
    data: {'hospital_id':name}
});
-->